html, body{
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #949AA7;
    background-color: #2C313C;
    overflow-y: hidden;
    user-select: none;
}
/* APP BASE */
.mainApp{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border: 1px solid #343B48; */
    -webkit-box-sizing: border-box;
}
.mainApp > .topBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    border-bottom: 3px solid #343B48;
    background-color: #1B1D23;
    -webkit-user-select: none;
}
.topBar > .titleBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.titleBar > .toggleButton{
    width: 45px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url('../icons/icon_menu.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
    padding-left: 40px;
}
.titleBar > .toggleButton:hover{
    background-color: #272C36;
}
.titleBar > .toggleButton:active{
    background-color: #343B48;
    border-radius: 5px;
}
.titleBar > img{
    margin-left: 10px;
}
.titleBar > .title{
    margin-left: 10px;
    width: 100%;
    line-height: 30px;
    margin-top: 5px;
    padding-bottom: 5px;
    -webkit-app-region: drag;
}
.topBar > .titleBarBtns{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 40px;
    gap: 1em;
    padding-top: 12px;
    padding-right: 0px;
}
.titleBarBtns > .topBtn{
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.2s;
    cursor: pointer;
}
.titleBarBtns > .topBtn:hover{
    background-color: #272C36;
    border-radius: 5px;
}
.titleBarBtns > .topBtn:active{
    background-color: #343B48;
}
.titleBarBtns > .closeBtn:active{
    background-color: #E51414;
}
.titleBarBtns > .closeBtn:hover{
    background-color: #E51414;
}
.titleBarBtns > .minimizeBtn{
    background-image: url('../icons/icon_minimisebis.png');
}
.titleBarBtns > .maximizeBtn{
    background-image: url('../icons/icon_maximisebis.png');
}
.titleBarBtns > .restoreBtn{
    background-image: url('../icons/icon_restorebis.png');
}
.titleBarBtns > .closeBtn{
    background-image: url('../icons/icon_closebis.png');
}
.mainApp > .contentArea{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.contentArea > .leftMenu{
    width: 280px;
    height: 100vh;
    background-color: #272C36;
    transition: 0.4s;
}
.contentArea > .contentPages{
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}


.footerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footerButtons button {
    margin: 0 10px; /* Ajoute une marge entre les boutons si nécessaire */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;
  }




  .hidden {
    display: none;
    width: 100%;
  }
  
  .visible {
    display: block;
    width: 100%;
  }
  



  
  
/** Server status css **/
.server-status {
    
    top: 28px;
    margin-left: 0px;
    margin-top: -5px;
    position: absolute;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .server-status::before,
  .server-status::after {
    left: 0;
    top: 50%;
    margin-left: -1px;
    margin-top: -6px;
    position: absolute;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  .server-status[type="up"],
  .server-status[type="up"]::before,
  .server-status[type="up"]::after {
    background: #2CA430;
  }
  .server-status[type="down"],
  .server-status[type="down"]::before,
  .server-status[type="down"]::after {
    background: #2CA430;
  }
  .server-status[type="slow"],
  .server-status[type="slow"]::before,
  .server-status[type="slow"]::after {
    background: #F1C40F;
  }
  
  .server-status::before {
    content: "";
    animation: bounce 1.5s infinite;
  }
  .server-status::after {
    content: "";
    animation: bounce 1.5s -0.4s infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1);
      -webkit-transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      -webkit-transform: scale(2);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes bounce {
    0% {
      transform: scale(1);
      -webkit-transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      -webkit-transform: scale(2);
      opacity: 0;
    }
  }